beautifulsoup4==4.13.4
numpy==2.3.1
pandas==2.3.0
psycopg2-binary==2.9.10
pymupdf==1.25.0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
scikit-learn==1.5.2
scipy==1.14.1
selenium==4.33.0
sqlalchemy==2.0.41
torch==2.5.1
tqdm==4.67.1
webdriver-manager==4.0.2
xgboost==2.1.4
